// ref：https://taro-ui.jd.com/#/docs/customizetheme
/* 改变主题变量，具体变量名可查看 taro-ui/dist/style/variables/default.scss 文件 */
/* Custom Theme */
$color-brand: #ffc701;
$color-brand-light: #ffd541;
$color-brand-dark: #cc9f01;

